<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
</head>
<body>
	<h1>Hello Page</h1>
	<p th:text="${msg}"></p>
	
	<form action="/" method="post">
		<input type="submit" value="ボタン" />
	</form>
	
	<div th:if="${colors} != null">
		<table th:inline="text">
			<tr>
				<th>いろ</th>
				<th>漢字</th>
			</tr>
			<tr th:each="iro : ${colors}">
				<td>[[${iro.colorName}]]</td>
				<td>[[${iro.colorKanji}]]</td>
			</tr>
		</table>
	</div>
</body>
</html>